<div class="box">
  <div class="contextual">
    <% if User.current.admin? %>
    <%= link_to "Create Link", new_quick_link_path, :class => 'icon icon-add' %>
    <%= link_to l(:label_settings), quick_links_path, :class => 'icon icon-settings' %>

    <% end %>
  </div>
  <h3><%= l(:label_quick_link_plural) %></h3>

<ul style="list-style:none;">
  <% QuickLink.all.each do |link| %>
  <li><%= link_to(link.label, link.link, :class => "icon #{link.icon_class}" ) %></li>
  <% end %>
</ul>


  <h4>eCookbook</h4>

  <ul style="list-style:none;">
    <li><a class="icon icon-add" href="http://localhost:3000/projects/ecookbook/issues/new?issue[tracker_id]=1">Neuen Bug melden</a></li>
    <li><a class="icon icon-add" href="http://localhost:3000/projects/ecookbook/issues/new?issue[tracker_id]=2">Neues Feature vorschlagen</a></li>
  </ul>
</div>
