<div class="box">
  <h3><%= l(:label_quick_actions) %></h3>
  <h4>eCookbook</h4>
  <ul style="list-style:none;">
    <li><a class="icon icon-add" href="http://localhost:3000/projects/ecookbook/issues/new?issue[tracker_id]=1">Neuen Bug melden</a></li>
    <li><a class="icon icon-add" href="http://localhost:3000/projects/ecookbook/issues/new?issue[tracker_id]=2">Neues Feature vorschlagen</a></li>
  </ul>
</div>
